.custom-table {
  background-color: #f9fafb;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.table-header th {
  background-color: #0d6efd; /* azul Bootstrap */
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.custom-table tr:hover {
  background-color: #e9f5ff; /* azul claro al pasar el mouse */
  transition: background-color 0.2s ease-in-out;
}

.custom-table tr.drag-over-row {
  background-color: #cfe2ff;
  border: 2px dashed #3b82f6;
}

.custom-table tr {
  cursor: grab;
}

.custom-table tr:active {
  cursor: grabbing;
}

.btn-edit {
  background-color: #f59e0b !important; /* naranja */
  border-color: #f59e0b !important;
  color: white;
}

.btn-delete {
  background-color: #ef4444 !important; /* rojo */
  border-color: #ef4444 !important;
  color: white;
}
